# Project Final Report - Who contributes the most data?

Authors: Hunter, Sophia, Jiho, and Freya

## Introduction (write in Introduction.md first)

#### Background Information

...

#### The Question

...

#### The Data

...

## Methods & Results

#### Loading the Data

First, we must load in the nessary libaries for working with data frames, resizing graphs, and working with predictive models respectivley.

In [15]:
library(tidyverse)
library(repr)
library(tidymodels)

Then, we download the player data and read it into R.

In [16]:
players_url <- "https://drive.google.com/uc?export=download&id=18CyKdv1ppgp7RraugrDq66w_T-6dkrdG"

download.file(players_url, "players.csv")

players <- read_csv("players.csv")

glimpse(players)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 196
Columns: 7
$ experience   <chr> "Pro", "Veteran", "Veteran", "Amateur", "Regular", "Amate…
$ subscribe    <lgl> TRUE, TRUE, FALSE, TRUE, TRUE, TRUE, TRUE, FALSE, TRUE, T…
$ hashedEmail  <chr> "f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8…
$ played_hours <dbl> 30.3, 3.8, 0.0, 0.7, 0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 1.6, 0…
$ name         <chr> "Morgan", "Christian", "Blake", "Flora", "Kylie", "Adrian…
$ gender       <chr> "Male", "Male", "Male", "Female", "Male", "Female", "Fema…
$ Age          <dbl> 9, 17, 17, 21, 21, 17, 19, 21, 17, 22, 23, 17, 25, 22, 17…

#### Wrangling the Data

We will need to convert the columns to their proper types, so experience will be a factor, Age is an integer, ect. We also want to remove any rows with NA values, which in this case happens to only be in the Age column.

In [5]:
players <- mutate(players,
    experience = as_factor(experience),
    gender = as_factor(gender),
    Age = as.integer(Age)) |>
    filter(!is.na(Age))

glimpse(players)

Rows: 194
Columns: 7
$ experience   <fct> Pro, Veteran, Veteran, Amateur, Regular, Amateur, Regular…
$ subscribe    <lgl> TRUE, TRUE, FALSE, TRUE, TRUE, TRUE, TRUE, FALSE, TRUE, T…
$ hashedEmail  <chr> "f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8…
$ played_hours <dbl> 30.3, 3.8, 0.0, 0.7, 0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 1.6, 0…
$ name         <chr> "Morgan", "Christian", "Blake", "Flora", "Kylie", "Adrian…
$ gender       <fct> Male, Male, Male, Female, Male, Female, Female, Male, Mal…
$ Age          <int> 9, 17, 17, 21, 21, 17, 19, 21, 17, 22, 23, 17, 25, 22, 17…

#### Summary of Dataset

Since we are concerned with experience, gender, subscribe, age, and played_hours for our model, let's make some tables of summary statistics for the counts/measures of center of those variables.

In [6]:
summarize(players, 
    average_played_hours = mean(played_hours),
    median_played_hours = median(played_hours),
    average_age = mean(Age),
    median_age = median(Age))

summarize(group_by(players, experience), count = n())

summarize(group_by(players, subscribe), count = n())

summarize(group_by(players, gender), count = n())

  average_played_hours median_played_hours average_age median_age
1 5.904639             0.1                 20.52062    19

  experience count
1 Pro        13
2 Veteran    48
3 Amateur    63
4 Regular    35
5 Beginner   35

  subscribe count
1 FALSE      52
2  TRUE     142

  gender            count
1 Male              124
2 Female             37
3 Non-binary         15
4 Prefer not to say  11
5 Agender             2
6 Two-Spirited        5

[additional summary]

#### Visualizations

[description of methods]

In [7]:
# these visualizations are relevant for exploratory data analysis and related to the planned analysis

# note: all figures should have a figure number and a legend

#### Modeling and Analysis

[description of methods]

In [11]:
# should include visualizations of model
players_train <- players |>
                    select(Age, experimence, subscribe, played_hours, subscribe)
knn_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = 5) |>
  set_engine("kknn") |>
  set_mode("classification")
knn_recipe <- recipe(played_hours ~ ., data = players_train) |>
  step_scale(all_numeric()) |>
  step_center(all_numeric()) |>
knn_fit <- workflow()|>
  add_recipe(knn_recipe)|>
  add_model(knn_spec)|>
  fit(data = players_train)
knn_fit

ERROR: Error in knn_fit: The pipe operator requires a function call as RHS (<text>:10:1)

## Discussion (write in Discussion.md first)

#### Summary

...

#### Is this what you expected?

...

#### What is the impact of the findings?

...

#### Future Questions

...